
<mat-card
  style="
    min-width: 500px;
    max-width: 800px;
    margin-left: 200px;
    margin-top: 100px;
  "
>
  <mat-card-header>
    <mat-card-title>Select File</mat-card-title>
    <mat-card-subtitle>by Construxiv</mat-card-subtitle>
    <div style="flex-grow: 1"></div>

    <button style="background-color: #ffff; border-width: 0px; cursor: pointer">
      <mat-icon>cached</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="full-width action-all">
      <mat-icon style="margin-top: 15px">search</mat-icon>
      <mat-form-field style="padding: 0 10px; width: 60%" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          placeholder="Input here ..."
          [(ngModel)]="searchValue"
          (change)="search(searchValue)"
        />
        <mat-icon
          *ngIf="searchValue !== null && searchValue !== ''"
          style="position: absolute; top: 4px; right: 0; cursor: pointer"
          color="dark"
          size="medium"
          (click)="resetSearchInput()"
        >
          close</mat-icon
        >
      </mat-form-field>
    </div>

    <div
      style="line-height: 24px; margin: 10px 0 30px 30px; position: relative"
    >
      <mat-icon
        svgIcon="right"
        style="width: 16px; height: 14px; margin-left: 8px"
      ></mat-icon>
      <div
        class="relativepath"
        style="cursor: pointer; position: absolute; top: 0px; left: 35px"
      >
        <span
          *ngFor="let item of lstPath; let i = index"
          (click)="updateRecentlyPath(i)"
          ><span
            class="text"
            [ngClass]="i === lstPath.length - 1 ? '' : 'path'"
            >{{ i === 0 ? "Root" : item }}</span
          ><span
            class="sub-text"
            *ngIf="i !== lstPath.length - 1"
            style="color: rgb(108, 119, 130)"
          >
            /
          </span></span
        >
      </div>
    </div>
    <div style="display: flex; flex-grow: inherit; padding: 0 16px">
      <div class="content" >
        <div class="main-content" >
          <span class="context" mat-sort-header="name" (click)="sort()">Name</span>
          <div class="cached-date" mat-sort-header="size">
            <span>Created Date</span>
          </div>
          <div class="right-size">
            <span #name (click)="sortnum()">Size</span>
          </div>
        </div>
      </div>
    </div>
    <mat-list>
      <cdk-virtual-scroll-viewport
        itemSize="48"
        minBufferPx="800"
        maxBufferPx="1600"
        class="cdk-virtual-scroll-tree"
      >
        <mat-list-item
          [ngStyle]="inSearchMode ? { height: 'auto' } : {}"
          *cdkVirtualFor="let item of showList; let i = index"
          matRipple
        >
          <div class="content">
            <div class="left-content" (click)="navigate(item)">
              <mat-icon *ngIf="item.isFolder"> folder_open </mat-icon>
              <mat-icon *ngIf="!item.isFolder"> draft </mat-icon>
            </div>
            <div class="main-content">
              <span class="context" (click)="navigate(item)">
                <span>{{ item.name }}</span>
                <span class="path" *ngIf="inSearchMode">{{ item.path }}</span>
              </span>
              <div (click)="navigate(item)"
                style="
                  width: 200px !important;
                  margin-right: 15px;
                  display: flex;
                  flex-direction: column !important;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <span>{{ item.createDate | date : "mediumDate" }}</span>
              </div>
              <div (click)="navigate(item)"
                style="
                  width: 80px;
                  margin-right: 20px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <span>{{ item?.size }}</span>
              </div>
              <div *ngIf="isRoot" style="margin-right: 10px;" (click)="removeitem(i)">
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          </div>
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </mat-card-content>
</mat-card>

